{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block title %} Eliminar Usuario {% endblock title %}

{% block todo %}


<!-- Section-->
<section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="container text-center">
               
                    
                    <div class="col">
                        <form action="" method="POST">
                            {% csrf_token %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">Eliminar usuario</h5>
                                    <p class="card-text">¿Estás seguro de eliminar a {{object.username}}  ?</p>
                                    <input type="submit" value="Eliminar">
                                    <a href="{% url 'Listar-Usuarios' %}" class="btn btn-anto">Cancelar</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock todo %}