{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block title %} Editar Artista {% endblock title %}

{% block todo %}
<style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            padding: 20px;
        }

        /* Aumentar el tamaño de la tarjeta */
        .card {
            width: 22rem; /* Puedes ajustar el ancho según tus necesidades */
            margin: 20px;
            padding: 20px;
        }

        /* Alineación del contenido de la tarjeta */
        .card-title {
            text-align: center; /* Centrar el título */
        }

        .card-text {
            text-align: center; /* Centrar el texto */
        }

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centrar verticalmente el contenido del card */
        }
    </style>
   <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img src="{{ artista.foto.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ form.nombre }}</h5>
                            <p class="card-text">{{ form.cita }}</p>
                            <p class="card-text">{{ form.nacionalidad }}</p>
                            <p class="card-text">{{ form.fechaNac }}</p>
                            <p class="card-text">{{ form.fechaFallecimiento }}</p>
                            <p class="card-text">{{ form.movimiento }}</p>
                            <p class="card-text">{{ form.biografia }}</p>
                            {{form.foto}}

                            <button type="submit" class="btn btn-anto">Guardar</button><a href="{% url 'Artistas-Panel' %}" class="btn btn-anto">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





{% endblock todo %}