{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block todo %}

<br><div class="container text-center">
  <h1>{% block title %} Artistas {% endblock title %}</h1>
</div>

    <div class="container text-center">
        <div class="row align-items-start">
            {% for artista in object_list %}
          <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{{ artista.foto.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ artista.nombre  }} </h5>
                  <p class="card-text">Nació en {{artista.nacionalidad}}, el {{artista.fechaNac}}.</p>
                  <p class="card-text">Fué un referente del {{artista.movimiento}}.</p>
                  <a href="{% url 'Artista-Detalle' artista.id %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    
<br>


    
{% endblock todo%}