{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block todo %}

<style>
    .boton-flotante {
        position: fixed;
        bottom: 80px; /* Ajusta la distancia desde la parte inferior */
        right: 60px; /* Ajusta la distancia desde la derecha */
    }
</style>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <!-- Columna para la imagen del artista -->
        <div class="col-lg-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{{ artista.foto.url }}" alt="Foto del artista" />
                <div class="card-body">
                    <!-- Puedes agregar detalles adicionales aquí -->
                </div>
            </div>
        </div>
        <!-- Columna para la biografía y detalles del artista -->
        <div class="col-lg-8 mb-4">
            <article>
                <!-- Post header -->
                <header class="mb-4">
                    <!-- Post title -->
                    <h1 class="fw-bolder mb-1">{{ artista.nombre }}</h1>
                    <!-- Post meta content -->
                    <div class="text-muted fst-italic mb-2">{{ artista.nacionalidad }}</div>
                    <!-- Post categories -->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ artista.movimiento }}</a>
                </header>
                <!-- Biografía -->
                <section class="mb-5">
                    <h6 class="">{{ artista.biografia }}</h6>
                </section>
                <section class="mb-5">
                    <div class="text-muted fst-italic mb-2">Fecha: {{ artista.fecha_post }}</div><a class="badge bg-secondary text-decoration-none link-light" href="#!">Autor: {{ artista.autor_post }}</a>
                </section>
            </article>
            <br>
            <br>
            <br>
            <!-- Sección de obras del artista -->
            <h3>Obras del artista:</h3>
            <div class="row">
                {% for obra in obras_del_artista %}
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <a href="{% url 'Obra-Detalle' obra.id %}"><img class="card-img-top" src="{{ obra.foto.url }}" alt="Foto de la obra" style="max-width: 100; max-height: 200px;"/></a>
                            
                            <div class="card-body">
                                <p class="card-text">{{ obra.nombre }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Sección de comentarios centrados y que ocupan todo el ancho -->
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <section id="seccion-comentarios">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comentarios form -->
                        <h2>Comentarios</h2>
                        <ul>
                            {% for comentario in comentarios %}
                                <li>
                                    {% if comentario.usuario.avatar.imagen %}<img height="40px" src="{{comentario.usuario.avatar.imagen.url}}"/> {% endif %}<strong>{{ comentario.usuario.first_name }}</strong> - {{ comentario.fecha }}
                                    <p>{{ comentario.texto }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Agrego validación para que no puedan comentar si no están logueados. -->
                        {% if user.is_authenticated %}
                        <h6>Agregar Comentario</h6>
                        <form method="post">
                            {% csrf_token %}
                            {{ comentario_form.as_p }}
                            <button type="submit">Comentar</button>
                        </form>
                        {% endif %}
                    </div>
                </div>    
                <div class="row justify-content-center">
                    
                    <br>
                    <br>
                   
                    <button onclick="goBack()" class="btn btn-anto boton-flotante" style="width: 150px; height: 40px;">Volver</button>

                    <br>
                </div>              
            </section>
        </div>
    </div>

</div>
<br>
<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock todo %}
