{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block todo %}

<br><div class="container text-center">
    <h1>{% block title %} Galerías {% endblock title %}</h1>
  </div>
    <div class="container text-center">
        <div class="row align-items-start">
            {% for galeria in object_list %}
          <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{{ galeria.foto.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ galeria.nombre  }} </h5>
                  <p class="card-text">{{ galeria.ubicacion  }}</p>
                  <p class="card-text">{{galeria.cita}}.</p>
                  <a href="{% url 'Galeria-Detalle' galeria.id %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <br>
    </div>

    
    


    
{% endblock todo%}