{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block title %} Editar Galería {% endblock title %}

{% block todo %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            padding: 20px;
        }

        /* Agregar márgenes y estilos al formulario */
        .card {
            width: 18rem;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img src="{{ galeria.foto.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ form.nombre }}</h5>
                            <p class="card-text">{{ form.cita }}</p>
                            <p class="card-text">{{ form.ubicacion }}</p>
                            <p class="card-text">{{ form.biografia }}</p>
                            {{form.foto}}

                            <button type="submit" class="btn btn-anto">Guardar</button><a href="{% url 'Galerias-Panel' %}" class="btn btn-anto">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock todo %}