{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block todo %}

<br><div class="container text-center">
  <h1>{% block title %} Galerías {% endblock title %}</h1>
</div>
<div class="container text-center">
  <a href="{% url 'Galeria-Nuevo' %}" class="btn btn-anto">Agregar galería</a>
</div>
<br>
<br>

<!-- Esto es el formulario de alta -->
<div class="container text-center">
  <div class="row align-items-start">
            {% for galeria in object_list %}
    <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{{ galeria.foto.url }}" class="card-img-top" alt="..." style="max-width: 100; max-height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">{{ galeria.nombre  }} </h5>
                  <a href="{% url 'Galeria-Detalle' galeria.id %}" class="btn btn-anto">Ver</a>
                  <a href="{% url 'Galeria-Editar' galeria.id %}" class="btn btn-anto">Editar</a>
                  <a href="{% url 'Galeria-Eliminar' galeria.id %}" class="btn btn-anto">Eliminar</a>
                </div>
            </div>
      </div>
      {% endfor %}
      <br>
    </div>
</div>
<br>
    


    
{% endblock todo%}