{% extends "GaleriaApp/padre.html" %}
{% load static %}

{% block title %} Eliminar Galeria {% endblock title %}

{% block todo %}



<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 my-5">
        <div class="card text-white bg-secondary py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Borrar galería</p>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col text-center">
            <form action="" method="POST">
                {% csrf_token %}
              
                        <h5 class="card-title">{{ object.nombre }}</h5>
                        <p class="card-text">¿Estás seguro de eliminar?</p>
                        <input type="submit" value="Eliminar">
                        <a href="{% url 'Galerias-Panel' %}" class="btn btn-success">Cancelar</a>
            </form>
        </div>
    </div>
    <br>
</div>

<br>
<br>
<br>
<br>
<br>





{% endblock todo %}