<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Galeria de Arte {% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'GaleriaApp/assets/favicon.ico' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn+SC" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'GaleriaApp/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <!--Agrego código para la busqueda, se realiza segun lo que se seleccion-->
        <!-- No busca en todas las tablas, solo una por vez -->
          <form class="d-flex" method="get" role="search"action="{% url 'Busqueda' %}">                                  
            <select name="model" class="form-select form-select-sm me-2">
              <option value="Artistas" {% if selected_model == "Artistas" %}selected{% endif %}>Artistas</option>
              <option value="Obras" {% if selected_model == "Obras" %}selected{% endif %}>Obras</option>
              <option value="Galerias" {% if selected_model == "Galerias" %}selected{% endif %}>Galerias</option>
            </select>
            <input type="search" name="q" value="{{ query }}" class="form-control form-control-sm me-2" placeholder="Buscar" aria-label="Buscar">
            <button type="submit" class="btn btn-buscar">Buscar</button>                               
          </form>
      </div>
      <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pull-right">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Artistas' %}">Artistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Obras' %}">Obras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Galerias' %}">Galerías</a>
          </li>         
            
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle margin-left" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user_avatar %}<img height="40px" src="{{user_avatar}}"/> {% endif %}{% if user.first_name%} {{ user.first_name }}{% else %} Cuenta {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'Edit' %}">Editar</a></li>
              <li><a class="dropdown-item" href="{% url 'Password' %}">Cambiar contraseña</a></li>
              {% if user.is_superuser or user.is_staff %}
              <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'Artistas-Panel' %}">Artistas</a></li>
                  <li><a class="dropdown-item" href="{% url 'Galerias-Panel' %}">Galerias</a></li>
                  <li><a class="dropdown-item" href="{% url 'Obras-Panel' %}">Obras</a></li>                  
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              {% if user.is_superuser %}               
                  <li><a class="dropdown-item" href="{% url 'Crear-Usuario' %}">Crear usuario</a></li>
                  <li><a class="dropdown-item" href="{% url 'Listar-Usuarios' %}">Listar usuarios</a></li>
                  <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'Logout' %}">Desloguear</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Login</a></li>

            {% endif %}      

            </ul>
          </li>
          <li class="nav-item"><a class="nav-link"></a></li>
          <li class="nav-item"><a class="nav-link"></a></li>
        </ul>
      </div>
    </nav>

        <br>
        <br>
        {% block todo %}
        {% endblock todo %}

        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark"> -->


                <div class="footer">
                    <p class="m-0 text-center text-white">Copyright &copy; Juan Pablo Carrizo 2023 </p>
                    <p class="m-0 text-center text-white"><a class="nav-link" href="{% url 'About' %}">Acerca de mí</a></p>
                </div>


        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>


